<!-- add bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<br/>
<h3>Food</h3>
<div class="row">
    <table class="table table-striped table-responsive-md btn-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Cost</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for food in food_list %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ food.name }}</td>
            <td>${{ food.cost }}</td>
            <td>
                <button input type="submit" class="btn btn-primary btn-sm m-0" style="font-size: 0.9em;" style="padding: 8x 10px;" value="{{ food.name }}" name="edit_food">Edit</button>
                <button input type="submit" class="btn btn-danger btn-sm m-0" style="font-size: 0.9em" value="{{ food.name }}" name="delete_food">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </form>
    </tbody>
    </table>
</div>

<br/>
<h3>Dinner</h3>
<div class="row">
    <table class="table table-striped table-responsive-md btn-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Cost</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% for dinner in dinner_list %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ dinner.name }}</td>
            <td>${{ dinner.cost }}</td>
            <td>
                <button input type="submit" class="btn btn-primary btn-sm m-0" style="font-size: 0.9em;" style="padding: 8x 10px;" value="{{ dinner.name }}" name="edit_dinner">Edit</button>
                <button input type="submit" class="btn btn-danger btn-sm m-0" style="font-size: 0.9em" value="{{ dinner.name }}" name="delete_dinner">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </form>
    </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   

{% endblock %}