<html>
  <head>
	<title>Attend a Dinner & Make Friends</title>
	
	<!-- where CSS will ultimately live -->
	<link rel="stylesheet" href="../static/style.css">
	
	<!-- importing font -->
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
	
	<!-- for responsive mobile design -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- the favicon -->
	<link rel="icon" type="image/png" href="../static/icons/eat-dark.png">
  </head>
  <body>
	<!-- main navigation -->
	<img src="../static/icons/hamburger.png" class="hamburger" id="hamburger">
	<nav>
		<div id="menuToggle">
			<!-- using the invisible checkbox hack for the mobile hamburger menu -->
			<input type="checkbox" />
			<ul class="globalnav" id="menu">
				  <li><img src="../static/icons/eat-dark.png" class="icon"><a href="/eat">Eat</a></li>
				  <li><img src="../static/icons/attend-dark.png" class="icon"><a href="/attend">Attend</a></li>
				  <li><img src="../static/icons/cook-dark.png" class="icon"><a href="/cook">Cook</a></li>
				  <li><img src="../static/icons/host-dark.png" class="icon"><a href="/host">Host</a></li>
			</ul>
		</div>
		<ul class="globalnav"><li id="login"><a href="/sign-in">Sign In</a></li></ul>
	</nav>
	
	<!--content seen on page-->
	<div class="main">
		<h1>Attend</h1>
	</div>
  </body>
<html>
