<html>
	<head>
		<!--<title>Testing out location capture</title>-->
		<title>{{user.username}}, {{user.email}}</title>
	</head>
  <body>
	<h1>{{user.username}}, {{user.email}}</h1>
  
 <!-- <h1>Testing Location capture:</h1>
	<p id="demo"></p>
	<script>
		var x = document.getElementById("demo");

		function getLocation() {
		  if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		  } else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		  }
		}

		function showPosition(position) {
		  x.innerHTML = "Lat: " + position.coords.latitude + 
		  "<br>Long: " + position.coords.longitude; 
		}

		getLocation();
	</script>-->
  </body>
</html>
