{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}
	<!--<form>
		<input type="location" class="input location" placeholder="{{food.address}}">
	</form>-->
<script src="https://www.paypal.com/sdk/js?client-id=AYsZMVkG0D6EEVzEcKBj5vc4GvmwqJbv0GQ6TdkUXFZ4a3XHJP2uFdyPn7_YczJE5CRgCKrqBMYZEKfB&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'white',
          layout: 'horizontal',
          label: 'pay',
          
      },
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: '1'
                  }
              }]
          });
      },
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              alert('Transaction completed by ' + details.payer.name.given_name + '!');
          });
      }
  }).render('#paypal-button-container');
</script>
<div class="column left">
	{% for food in foods %}

        <div class="row">
            <div class="column left">
                <br>
                <li>Food: {{food.name}}</li>
                <li>Cost: {{food.cost}}</li>
                <li>Address: {{food.address}}</li>
                <li>Phone Number: {{food.phone_number}}</li>
		<div id="paypal-button-container"></div>
                <br>
            </div>
            <div class="column right">
                <img src="{{food.image}}" alt="{{food.name}}" style="height: 200px;">
            </div>
        </div>
    {% endfor %}
</div>
<div class="column right">
	 <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width: 100%;
      }
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F4B400;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F4B400;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>

<!-- Toggle on/off visual-->
<label onclick="toggle()" class="switch">
  <input id="toggle" type="checkbox" checked>
  <span class="slider round"></span>
</label>

<!-- Map -->
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
          var geocoder=new google.maps.Geocoder();
          map=new google.maps.Map(document.getElementById('map'), {
              center: {
                  lat: 40.4328462, lng: -79.9291791
              }
              , zoom: 17 // 1: World, 5: Landmass/continent, 10: City, 15: Streets, 20: Buildings
          }
          );
          geocoder.geocode( {
              "address": "University of Pittsburgh"
          }
          , function(results, status) {
              if (status==google.maps.GeocoderStatus.OK && results.length > 0) {
                  var location=results[0].geometry.location, lat=location.lat(), lng=location.lng();
                  //alert("Latitude: " + lat);
                  //alert("Longitude: " + lng);
				  //hacky idea... 
				//  document.getElementById("lat").value = lat;
				//  document.getElementById("long").value = lng;
              }
          }
          );
      }       
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSAOP8_BWGwtwrdnsqVkqEz-wE_7Rwv0Q&callback=initMap"
    async defer></script>

<!-- Toggle on/off functionality-->
<script>
function toggle() {
  // Get the checkbox
  var checkBox = document.getElementById("toggle");    
  var map = document.getElementById("map");
    
  if (checkBox.checked == true){
    map.style.display = "block"; // checked
  } else {
    map.style.display = "none"; // not checked
  }
}
</script>  

</div>
	
{% endblock %}
