{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}
	<!--content seen on page-->
<div class="row">
    <div class="column left">
        <form method="POST" action="/hostvalues">
            <input type="text" name="dname" placeholder="Dinner title">
            <input type="text" name="dcost" placeholder="Cost">
            <input id = "autocomplete" type="text" class="location" name="autocomplete" placeholder="Address" onFocus="geolocate()">
            <input id = "dlat" type = "hidden" name="dlat">
            <input id = "dlng" type = "hidden" name="dlng">
            <input type="text" name="dphone_number" placeholder="Phone Number">
            <input type="text" name="dimage" placeholder="Add image">
            <!--AS: removed class="input image"-->
            <input type="file" name="file" class="inputfile" />
            <label for="file">Upload&#x25b2;</label>
            <input type="text" name="dcategory" placeholder="Type categories">
            <input type="text" name="dingredients" placeholder="Type ingredients">
            <input type="text" name="davailable_seats" placeholder="Available Seats">
            <input type="text" name="dtime" placeholder="Dinner Time">
    </div>
    <div class="column right">
        <div class="check">
            <label class="container">check if available now
                <input type="checkbox" name="davailable">
                <span class="checkmark"></span>
            </label>
        </div>
            <button input type="submit" class="btn sell">Sell Leftovers!</button>
	</form>
    </div>
        <script>

var autocomplete;

function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
    document.getElementById('autocomplete'), {types: ['geocode']});
    autocomplete.addListener('place_changed', getLatLng);
}

function getLatLng(){
    var place = autocomplete.getPlace();
    var lat = place.geometry.location.lat();
    var lng = place.geometry.location.lng();

    document.getElementById('dlat').value = lat;
    document.getElementById('dlng').value = lng;

    console.log("lat: " + lat);
    console.log("lng: " + lng);
}

function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle(
          {center: geolocation, radius: position.coords.accuracy});
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAetDGtzTKdygkWv27KM1gPEDoBYQ_szws&libraries=places&callback=initAutocomplete"
        async defer></script>
    </div>
{% endblock %}
