{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}
	<!--content seen on page-->
	<div class="main"> 
    <h1>Host</h1>
    <div class="row">
      <div class="column left">
        <form><input type="text" placeholder="Dinner title"></form>
        <form><input type="text" placeholder="Cost"></form>
        <form><input type="text" class="location" placeholder="Address"></form>
        <form>
			<input type="text" class="input image" placeholder="Add image"> 
			<input type="file" name="file" id="file" class="inputfile" />
			<label for="file">Upload</label> </form>
        <form><input type="text" class="input categories" placeholder="Type categories"></form>
      </div>
      <div class="column right">
			<form>
				<input type="text" class="input time" placeholder="enter time">
			</form>
			<div class="check">
				<label class="container">check if available now
				  <input type="checkbox">
				  <span class="checkmark"></span>
				</label>
			</div>
        <button class="btn sell">Host a dinner!</button>
      </div>
    </div>
  </div>

{% endblock %}