<html>
  <head>
	<title>Food with Friends: Eat up!</title>
	<link rel="stylesheet" href="../static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

  </head>
  

  <body>
	<!-- main navigation -->
	<ul class="globalnav">
	  <li><a href="/eat">Eat</a></li>
	  <li><a href="/attend">Attend</a></li>
	  <li><a href="/cook">Cook</a></li>
	  <li><a href="/host">Host</a></li>
	  <li><a href="/sign-in"  id="login">Sign In</a></li>
	</ul>
	<!--content-->
	<div class="main">
		<h1>Eat Leftovers</h1>
		<form><input type="location" class="input location" placeholder="Enter street address"></form>
		<button class="btn eat">Get Leftovers</button>
		<button class="btn attend">Attend Family Dinner</button>
	</div>
  </body>
<html>
