<html>
  <head>
	<title>Food with Friends: Eat up!</title>
	
	<!-- where CSS will ultimately live -->
	<link rel="stylesheet" href="../static/style.css">
	
	<!-- importing font -->
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
	
	<!-- for responsive mobile design -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- the favicon -->
	<link rel="icon" type="image/png" href="../static/icons/eat-dark.png">
	
	<!-- sign in functionality -->
	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1024466557558-n9enoanq8vua09fpmsu28ie7tkgeqlvp.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
	<!-- main navigation -->
	<img src="../static/icons/hamburger.png" class="hamburger" id="hamburger">
	<nav>
		<div id="menuToggle">
			<!-- using the invisible checkbox hack for the mobile hamburger menu -->
			<input type="checkbox" />
			<ul class="globalnav" id="menu">
				  <li><img src="../static/icons/eat-dark.png" class="icon"><a href="/eat">Eat</a></li>
				  <li><img src="../static/icons/attend-dark.png" class="icon"><a href="/attend">Attend</a></li>
				  <li><img src="../static/icons/cook-dark.png" class="icon"><a href="/cook">Cook</a></li>
				  <li><img src="../static/icons/host-dark.png" class="icon"><a href="/host">Host</a></li>
			</ul>
		</div>
	</nav>
	
	<!--content seen on page-->
	<div class="main">
		<h1>Eat Leftovers</h1>
		<form><input type="location" class="input location" placeholder="Enter street address"></form>
		<button class="btn eat">Get Leftovers</button>
		<button class="btn attend">Attend Family Dinner</button>
	</div>
	
	<!-- sign in functionality -->
	<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" id="login">
		<div id="message">
		<script>
		  function onSignIn(googleUser) {
			// Useful data for your client-side scripts:
			var profile = googleUser.getBasicProfile();
			console.log("ID: " + profile.getId()); // Don't send this directly to your server!
			console.log('Full Name: ' + profile.getName());
			console.log('Given Name: ' + profile.getGivenName());
			console.log('Family Name: ' + profile.getFamilyName());
			console.log("Image URL: " + profile.getImageUrl());
			console.log("Email: " + profile.getEmail());

			// The ID token you need to pass to your backend:
			var id_token = googleUser.getAuthResponse().id_token;
			console.log("ID Token: " + id_token);
			
			// Mods from: https://github.com/timothyrjames/cs1520/blob/master/week06/gae/project8/templates/index.html
					let params = {
						'token': id_token
					};
					sendJsonRequest(params, '/authtoken', function(responseObject, targetUrl, parameters) {
						document.getElementById('message').innerHTML = responseObject.message;
					});
		  }
		  
		</script>
	</div>
	
	<script>
	//From: https://github.com/timothyrjames/cs1520/blob/master/week06/gae/project8/templates/_base.html;

            function createXmlHttp() {
                var xmlhttp;
                if (window.XMLHttpRequest) {
                    xmlhttp = new XMLHttpRequest();
                } else {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                if (!(xmlhttp)) {
                    alert("Your browser does not support AJAX!");
                }
                return xmlhttp;
            }

            // this function converts a simple key-value object to a parameter string.
            function objectToParameters(obj) {
                var text = '';
                for (var i in obj) {
                    // encodeURIComponent is a built-in function that escapes to URL-safe values
                    text += encodeURIComponent(i) + '=' + encodeURIComponent(obj[i]) + '&';
                }
                return text;
            }


            function postParameters(xmlHttp, target, parameters) {
                if (xmlHttp) {
                    xmlHttp.open("POST", target, true); // XMLHttpRequest.open(method, url, async)
                    var contentType = "application/x-www-form-urlencoded";
                    xmlHttp.setRequestHeader("Content-type", contentType);
                    xmlHttp.send(parameters);
                }
            }

            function sendJsonRequest(parameterObject, targetUrl, callbackFunction) {
                var xmlHttp = createXmlHttp();
                xmlHttp.onreadystatechange = function() {
                    if (xmlHttp.readyState == 4) { // server has completed processing and has sent a response
                        console.log(xmlHttp.responseText);
                        var myObject = JSON.parse(xmlHttp.responseText);
                        callbackFunction(myObject, targetUrl, parameterObject);
                    }
                }
                console.log(targetUrl);
                console.log(parameterObject);
                postParameters(xmlHttp, targetUrl, objectToParameters(parameterObject));
            }

        </script>
  </body>
<html>
