{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<h1>hello</h1>
<div class="row">
    <div class="column left">
        
        <input type="hidden" id="phone_number" value="123231">
        <input type="hidden" id="name" value="Test">
        <input type="text" id="rate" placeholder="5.0">
    </div>
    <div class="column right">

        <button input type="submit" class="btn sell" onclick="submit()">Sell Leftovers!</button>

    </div>
</div>
<script>
function submit() {
    var name = document.getElementById('name').value;
    var phone_number = document.getElementById('phone_number').value;
    var rate = document.getElementById('rate').value;
    console.log("Name: " + name + " number: " + phone_number + " rate: " + rate);
				  
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/changerate');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
	var csrf_token = "{{ csrf_token() }}"; // attempting to fix issue with validation
	xhr.setRequestHeader("X-CSRFToken", csrf_token); // attempting to fix issue with validation
	xhr.send('name=' + name +'&phone_number=' + phone_number+'&rate=' + rate);
	console.log('Sent id_token to server');
}
</script>

{% endblock %}