{% extends '_base.html' %}
{% block header %}
{% endblock %}
{% block content %}
<h2>Food Test</h2>
<ul>
<!-- Testing listing multiple food items -->
{% for food in foods %}
	<li>Name: {{food.name}}</li>
	<ul>
		<li>Code: {{food.code}}</li>
		<li>Availability: {{food.available}}</li>
		<li>Image: {{food.image}}</li>
		<li>Cost: {{food.cost}}</li>
		<li>Ingredients: {{food.ingredients}}</li>
		<li>Food Type: {{food.food_type}}</li>
		<li>Address: {{food.address}}</li>
	</ul>
{% endfor %} <!--end for loop to add in multiple foods-->
</ul>
<p>Testing image:</p>
<img src="{{food.image}}">
<h2>Dinner Test</h2>
<ul>
    <li>Name: {{dinner.name}}</li>
    <li>Code: {{dinner.code}}</li>
    <li>Availability: {{dinner.available}}</li>
    <li>Image: {{dinner.image}}</li>
    <li>Cost: {{dinner.cost}}</li>
    <li>Ingredients: {{dinner.ingredients}}</li>
    <li>Food Type: {{dinner.food_type}}</li>
    <li>Address: {{dinner.address}}</li>
    <li>Available Seats: {{dinner.available_seats}}</li>
    <li>Time: {{dinner.time}}</li>
</ul>
<p>Testing image:</p>
<img src="{{dinner.image}}">

<h2>User Test</h2>
<ul>
    <li>Name: {{user.username}}</li>
    <li>Sub: {{user.sub}}</li>
</ul>

{% endblock %}
